.grid {
	display: flex;
	flex-wrap: wrap;
	height: 600px;
	width: 800px;
	margin-bottom: 50px;
}

#resetBtn {
	display: flex;
	margin: auto;
	background-color: darkred;
	color: white;
	height: 50px;
	border-radius: 5px;
	font-size: 1rem;
}